html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 1em;
    background-color: #b5e2bf;
}

/*   For Home Page  */
.calorie-circle {
    width: 220px;
    height: 220px;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calorie-zero {
    border-color: white;
}

.calorie-green {
    border-color: green;
}

.calorie-red {
    border-color: red;
}
