@{
    ViewData["Title"] = "About";
}

<h1>About This Project</h1>

<p>
    This Nutrition Tracker web application was created for our .NET Programming Group Project.
    It helps users track calories, meals, protein, carbs, and fat.
</p>

<h3>Team Members</h3>
<ul>
    <li>Damia Taylor</li>
    <li>Chanel Muir</li>
    <li>Josia Thach</li>
</ul>

<p class="mt-3">
    © 2025 - La Salle University
</p>
